.appointment {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.calendar-header {
    background-color: #1e78d8;
    color: #fff;
}
.title-text {
    margin: auto;
}
.main-text {
    font-size: .9em
}
.timezone {
    text-align: center;
    font-size: .6em
}

.date-nav-btn {
    font-size: 30px;
}

.date-nav-btn.disabled {
    font-size: 30px;
    color: #a6a6a6
}

.center-text {
    text-align: center
}

.schedule-table {
    min-width: 300px;
}

.active-slot {
    border: 1px #a6a6a6 solid;
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    background-color: rgb(230, 235, 245)
    
}

.active-slot.enabled {
    color: rgb(6, 93, 224)
}

.active-slot.disabled {
    text-decoration: line-through black;
    color: rgb(241, 74, 74) 
}

.show-more-btn {
    margin: auto
}
